.orgchart {
  background: #fff; 
}
.orgchart td.left, .orgchart td.right, .orgchart td.top {
  border-color: #aaa;
}
.orgchart td>.down {
  background-color: #aaa;
}
.orgchart .admin .title {
  background-color: #E80CA6;
}
.orgchart .admin .content {
  border-color: #E80CA6;
}
.orgchart .adminteam .title {
  background-color: #009933;
}
.orgchart .adminteam .content {
  border-color: #009933;
}
.orgchart .tech .title {
  background-color: #993366;
}
.orgchart .tech .content {
  border-color: #993366;
}
.orgchart .techteam .title {
  background-color: #0CE8CE;
}
.orgchart .techteam .content {
  border-color: #0CE8CE;
}
.orgchart .cases .title {
  background-color: #5CF205;
}
.orgchart .cases .content {
  border-color: #5CF205;
}
.orgchart .casesteam .title {
  background-color: #F22405;
}
.orgchart .casesteam .content {
  border-color: #F22405;
}
.orgchart .finance .title {
  background-color: #006699;
}
.orgchart .finance .content {
  border-color: #006699;
}
.orgchart .financeteam .title {
  background-color: #009933;
}
.orgchart .financeteam .content {
  border-color: #009933;
}
.orgchart .outreach .title {
  background-color: #8FED2B;
}
.orgchart .outreach .content {
  border-color: #8FED2B;
}
.orgchart .outreachteam .title {
  background-color: #996633;
}
.orgchart .outreachteam .content {
  border-color: #996633;
}
.orgchart .legal .title {
  background-color: #0AD15D;
}
.orgchart .legal .content {
  border-color: #0AD15D;
}
.orgchart .legalteam .title {
  background-color: #cc0066;
}
.orgchart .legalteam .content {
  border-color: #cc0066;
}
.orgchart .media .title {
  background-color: #05D3F2;
}
.orgchart .media .content {
  border-color: #05D3F2;
}
.orgchart .mediateam .title {
  background-color: #cc0066;
}
.orgchart .mediateam .content {
  border-color: #cc0066;
}